<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quicentro Shopping</title>
    <meta name="keywords" content="Quicentro ">
    <meta name="description" content="Quicentro">
    <meta name="author" content="Quicentro">
    <!-- Favicon -->

    <meta name="apple-mobile-web-app-title" content="Quicentro">
    <meta name="application-name" content="Quicentro">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->

</head>


<body>
    <div class="soon">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 coming-soon-content">
                    <div class="soon-content text-left">
                        <div class="soon-content-wrapper">
                            <h1 class="soon-title">Hey Guys!<span class="coming-soon">We Are Coming Soon…</span></h1><!-- End .soon-title -->

                            
                            <form action="#">
                                <div class="input-group mb-5">
                                    <input type="email" class="form-control bg-transparent" placeholder="Your Email" required>
                                    <div class="input-group-append notify-btn-outer">
                                        <button class="btn btn-primary notify-btn" type="submit">
                                            <span>Notify me</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="coming-countdown countdown-separator"></div>
                        </div><!-- End .soon-content-wrapper -->
                    </div><!-- End .soon-content -->
                </div><!-- End .col-md-9 col-lg-8 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
        <div class="soon-bg bg-image" style="background-image: url(assets/images/2020/coming_Soon4.svg)"></div>
        <!-- End .soon-bg bg-image -->
    </div><!-- End .soon -->
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.plugin.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script>
    $(function() {
        "use strict";
        if ($.fn.countdown) {
            $('.coming-countdown').countdown({
                until: new Date(2021, 7, 20), // 7th month = August / Months 0 - 11 (January  - December)
                format: 'DHMS',
                padZeroes: true
            });

            // Pause
            // $('.coming-countdown').countdown('pause');
        }
    });
    </script>
</body>

</html>